body {
    background: radial-gradient(circle at 10% 20%, rgb(48, 100, 191) 0%, rgb(15, 40, 83) 90%);
    min-height: 100vh;
}
header {
    padding: 15px;
    text-align: center;
}
main {
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
}
h1 {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}
footer {
    padding: 15px;
    text-align: center;
    padding: 15px;
}
.current {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.current-temperature {
    font-family: "Nunito Sans", sans-serif;
    font-size: 50px;
    font-weight: 900;
    padding: 15px;
    text-align: center;
}
.degrees {
    font-size: 65%;
    vertical-align: top;
}
.forecast {
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    justify-content: space-between;
    text-align: center;
}
.forecasted-day {
    background-color: #F4C01C;
    color: white;
    font-weight: 900;
    border: 3px solid black;
    margin: 3px 7px;
    padding: 15px;
    width: 65px;
}
.forecasted-emoji {
    background: #3064bf;
    border: 3px solid black;
    color: white;
    font-size: 35px;
    margin: 3px 7px;
    padding: 15px;
    width: 65px;
}
.forecasted-temperature {
    border: 3px solid black;
    margin: 3px 7px;
    padding: 15px;
    width: 65px;
}
